* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif, fantasy;
    font-size: 62.5%;
    position: relative;
}
body:before {
    content: "";
    display: block;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    /* background-image: url("/media/images/bg-hex.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
div.body-container {
    width: 90%;
    height: 100%;
    margin: 20px auto;
    border-radius: 20px;
    background: #034b20;
    box-shadow: 0 0 20px 10px rgba(10, 10, 10, 0.71);
    position: relative;
}


.body-container::after {
    content: "";
    display: block;
    clear: both;
}
header {
    width: 100%;
    min-height: 55px;
    height: 70px;
    max-height: 140px;
    background-color: #00C57C;
    border-radius: 20px 20px 0 0;
    float: left;
    position: relative;
}
div.logo a {
    width: 250px;
    height: 50px;
    background-image: url("/media/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin: 10px 0 0 10px;
}
div.reg {
    float: right;
    height: 70px;
    width: 230px;
    text-align: center;
    line-height: 70px;
}
nav {
    height: 50px;
    width: 100%;
    background-color: #00BA73;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    float: left;
    position: relative;
}

aside.leftbar {
    width: 20%;
    min-height: 1000px;
    background-color: #034b20;
    float: left;
}
div.leftblock {
    width: 80%;
    height: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: #9bffd4;
    background-image: url("http://picsum.photos/400");
    position: relative;
    box-shadow: 10px 10px 10px black;
    line-height: 60px;
    color: rgba(255, 244, 255, 0.87);
    text-shadow: 2px 2px 3px black;
    box-sizing: border-box;
    overflow: hidden;
}
div.leftblock-2 {
    width: 80%;
    height: 200px;
    margin: 20px auto;
    background-color: #9bffd4;
    background-image: url("http://picsum.photos/401");
    /*position: relative;*/
    box-shadow: 10px 10px 10px black;
    line-height: 80px;
    color: rgba(255, 244, 255, 0.87);
    text-shadow: 2px 2px 3px black;
    overflow: hidden;
}
.leftblock p {
    font-weight: bold;
    font-size: 2em;
    text-shadow: 3px 3px 3px black;
}
.leftblock-2 p {
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    text-shadow: 3px 3px 3px black;
}

aside.rightbar {
    width: 30%;
    min-height: 1000px;
    background-color: #034b20;
    float: left;
    text-align: center;
}
aside.rightbar p {
    color: #c3ffc8;
}
div.rightblock {
    width: 80%;
    height: 300px;
    margin: 20px auto;
    padding: 20px 5px;
    background-color: #9bffd4;
    position: relative;
    box-shadow: 10px 10px 10px black;
    overflow: hidden;
}
div.rightblock ul {
    list-style-type: none;
    margin-top: 20px;
    line-height: 2.5;
}
.rightblock ul a {
    border: 1px solid #034b20;
    background-color: #61c299;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px;
}
section {
    width: 50%;
    min-height: 1000px;
    background-color: #9bffd4;
    text-align: center;
    padding: 10px;
    float: left;
    box-sizing: border-box;
}
section h1 {
    font-size: 4em;
    color: #034b20;
    margin: 20px auto;
}

/*      MEDIA   QUERIES    LAYOUT        */
@media screen and (max-width: 767px){
    div.logo a {
        width: 200px;
        height: 40px;
    }
    div.reg {
        float: right;
        height: 70px;
        width: 120px;
        padding: 5px 15px 10px 10px;
        line-height: 2;
    }
    .leftbar {
        display: none;
    }
    .rightbar {
        display: none;
    }
    section {
        width: 100%;
    }
    section .blog-box h2 {
        font-size: 1.8em;
        margin: 15px auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .leftbar {
        display: none;
    }
    section {
        width: 70%;
    }
    section .blog-box h2 {
        font-size: 2.2em;
        margin: 15px auto;
    }
}

/*      MEDIA   QUERIES    LAYOUT        */


section::after {
    content: "";
    display: block;
    clear: both;
}

.content-box {
    width: 90%;
    min-height: 60px;
    background-color: #61c299;
    position: relative;
    text-align: initial;
    margin: 0 auto;
    padding: 5px 10px 15px;
    transition-property: all;
    transition-duration: 0.3s, 0.9s;
    color: #034b20;
    border: 1px solid #034b20;
}

.content-box-dark {
    width: 90%;
    min-height: 60px;
    background-color: #54af89;
    position: relative;
    text-align: initial;
    margin: 0 auto;
    padding: 5px 10px 15px;
    transition-property: all;
    transition-duration: 0.3s, 0.9s;
    color: #034b20;
    border: 1px solid #034b20;
}

div.blog-box {
    width: 80%;
    height: 80px;
    background-color: #61c299;
    position: relative;
    margin: 10px auto 20px;
    padding: 5px;
    /*overflow: hidden;*/
    /*line-height: 80px;*/
    transition-property: width,height;
    transition-duration: 0.3s, 0.9s;
    color: #034b20;
    border: 1px solid #034b20;
}
div.blog-box:hover {
    /*transition-property: all;*/
    /*transition-duration: 0.3s;*/
    width: 95%;
    height: 350px;
    line-height: 1.2;
    overflow-y: scroll;
    box-shadow: 0 0 13px 13px rgba(26, 26, 26, 0.59);
    background-color: #fffcef;
    border: 3px solid #034b20;
    border-radius: 5px;
}
.blog-box p {
    display: none;
    transition-property: all;
    transition-duration: 0.3s;
    margin-top: 10px;
}
.blog-box:hover p {
    display: block;
    text-align: justify;
    transition-property: all;
    transition-duration: 0.3s;
}
.blog-box h2 {
    transition-property: all;
    transition-duration: 0.3s;
    font-size: 3em;
}

.blog-box:hover h2 {
    transition-property: all;
    transition-duration: 0.3s;
    font-size: 2.5em;
}
.blog-box:hover img {
    width: 200px;
    height: 200px;
    transition-property: all;
    transition-duration: 0.3s;
}

.blog-box .blog-box-img1 {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    float: left;
    transition-property: all;
    transition-duration: 0.3s;
}
.blog-box .blog-box-img1:hover {
    width: 350px;
    height: 100%;
    transition-property: all;
    transition-duration: 0.3s;
}

#support {
    min-width: 285px;
    width: 300px;
    max-width: 300px;
    height: 35px;
    position: fixed;
    background-color: #00aa6a;
    right: 5%;
    bottom: 0;
    text-align: center;
    line-height: 35px;
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 30% 30% 0 0;
    box-shadow: inset 13px 13px 20px 5px #00ffa6;
}
#support span {
    font-size: 1.6em;
}
#support:hover {
    height: 300px;
    padding: 15px 5px 0 5px ;
    line-height: normal;
    border-radius: 30% 10% 0 0;
    transition-property: all;
    transition-duration: 0.3s;
    overflow: hidden;
}
#support form {
    margin-top: 10px;
    margin-bottom: 10px;
}
#support .button {
    font-size: 1.3em;
    position: relative;
    right: -30%;
}
#support input {
    height: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: #b9f0d5;
    border: 2px #034b20 solid;
}
#support table {
    margin: 0 auto;
}
#support table td {
    padding: 3px;
    font-size: 1.6em;

}
#support textarea {
    resize: none;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(185, 240, 213);
    border: 2px #034b20 solid;
}
