/* NOT USED */

/* * {
    font-size: 62.5%;
    font-family: "Roboto Light",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

header {
    width: 100%;
    min-height: 50px;
    background-color: #d6d4b1;
    float: left;
}
#dropdown {
    height: 50px;
    display: inline-block;
    color: white;
    position: relative;
}
#dropdown>button{
    padding: 16px 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1em;
}
#dropdown:hover button{
    background-color: #9e2017;
}
#dropdown>ul li{
    color: black;
    padding: 5px 20px;
}
#dropdown a {
    text-decoration: none;
    color: white;
}
#dropdown>ul{
    min-width: 200px;
    position: absolute;
    background-color: #262626;
    list-style-type: none;
    top: 100%;
    left: 0;
    display: none;
}
#dropdown:hover>ul {
    display: inline-block;
}
#dropdown li {
    list-style-type: none;
}
#dropdown>ul>li:nth-child(3) {
    position: relative;
}
#dropdown>ul>li:nth-child(3)>ul {
    position: absolute;
    min-width: 200px;
    background-color: #4e4e4e;
    left: 100%;
    top: 0;
    display: none;
}
#dropdown>ul>li:nth-child(3):hover>ul {
    display: inline-block;
}
#dropdown li:hover {
    background-color: #d00200;
}
#dropdown>ul>li:nth-child(3):after {
    content: "";
    display: block;
    position: absolute;
    border-left: 6px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    top: 50%;
    margin-top: -2px;
    right: 10%;
} */