
a {
    font-family: sans-serif,fantasy;
    text-decoration: none;
    color: #000000;
    font-size: 1.6em;
}
p {
    font-family: sans-serif,fantasy;
    font-size: 1.6em;
}

#section div h3 {
    font-size: 1.65em;
    margin: 20px 5px 10px;
}

.button {
    background-color: #034b20;
    border-style: none;
    border-radius: 10px 20px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.button:hover {
    font-weight: bold;
    border-radius: 20px 10px;
    padding: 8px 18px;
    color: #034b20;
    background: radial-gradient(ellipse, rgb(0, 203, 0), rgb(3, 75, 32));
}
.navbutton {
     background-color: #00ba73;
     border-style: none;
     color: #034b20;
     text-decoration: none;
     padding: 14px 15px;
     font-size: 1.7em;
     cursor: pointer;
     transition-property: all;
     transition-duration: 0.4s;
 }

.navbutton:hover {
    color: #e1dfce;
    background: #034b20;
    box-shadow: 0 0 10px 5px #ffeac4;
    margin-left: 5px;
    margin-right: 5px;
    /*padding: 13px 23px;*/
}

/*   ----------   DROPDOWN  ---------        */
header .dropdown {
    position: absolute;
    top: 100%;
    right: 2.5%;
    display: inline-block;
    height: 50px;
    z-index: 2;
    background-color: #00ba73;
    color: #034b20;
    text-decoration: none;
    padding: 15px 35px 15px 15px;
    font-size: 1.6em;
    cursor: pointer;
}
.btn-drop {
   background-color: #00ba73;
   border: none;
   color: #034b20;
   text-decoration: none;
   cursor: pointer;
}
.drop-content {
    text-align: initial;
    display: block;
    overflow: hidden;
    position: absolute;
    font-size: 1em;
    top: 50px;
    right: 0;
    background-color: #d8ffd7;
    max-height: 0;
    min-width: 250px;
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition-property: max-height;
    transition-duration: 0.5s;
}
.dropdown:hover  {
    background-color: #034b20;
    color: #e1dfce;
    box-shadow: 0 0 10px 3px #ffeac4;
    transition-property: all;
    transition-duration: 0.4s;
}
.dropdown:hover .btn-drop {
    background-color: #034b20;
    color: #d8ffd7;
 }
.dropdown:hover .drop-content {
    max-height: 500px;
}
.drop-content a {
    color: #034b20;
    display: block;
    padding: 10px;
    font-size: 1em;
}
.drop-content a:hover {
    color: #d7ffd1;
    background-color: #034b20;
    transition-property: all;
    transition-duration: 0.3s;
}
 .dropdown .tooltip {
    border-top: 12px solid #034b20;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -6px;
    left: 77%;
    transition-property: all;
    transition-duration: 0.7s;
}
 .dropdown:hover .tooltip {
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 12px solid rgb(201, 247, 221);
    top: 12px;
     transition: all 0.5s linear;
}
/*   ----------   DROPDOWN  ^^^---------        */

p {
    font-family: sans-serif,fantasy;
    font-size: 1.6em;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.6em;
}
/* -------- FOOTER ICONS */
#footer {
    background-color: #3f3f3f;
    min-height: 250px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20%;
}


div.socials-btn {
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    position: relative;
    text-align: center;
    transition: all 0.7s;
}


.fb {
    background-image: url(../media/images/001-facebook-app-symbol-blck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Spartan, sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -1px;
}
.fb:hover {
    background-image: url(../media/images/001-facebook-app-symbol.png);
    background-color: rgb(0, 55, 128);
    border: 1px solid white;
}
.inst {
    background-image: url(../media/images/003-instagram-blck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family:'Lobster Two', sans-serif;
}
.inst:hover {
    background: #d6249f;
    background-image: url(../media/images/003-instagram.png), radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: all 0.7s;
}
.goya {
    background-image: url(../media/images/goya-blck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Montserrat', sans-serif;
}
.goya:hover {
    background-color: #3f3f3f;
    background-image: url(../media/images/goya.png);
    border: 1px solid white;
}
.twitter {
    background-image: url(../media/images/002-twitter-blck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: sans-serif;
}
.twitter:hover {
    background-color: #1da1f2;
    background-image: url(../media/images/002-twitter.png);
    border: 1px solid white;
}
.gplus {
    background-image: url(../media/images/004-google-plus-blck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.gplus:hover {
    background-color: rgb(221, 80, 68);
    background-image: url(../media/images/004-google-plus.png);
    border: 1px solid white;
}


div.socials-btn>span {
    font-size: 1.9em;
    font-weight: bold;
    background-color: rgb(241, 241, 241);
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
}
.socials-btn:hover>span {
    opacity: 1;
    bottom: 105%;
    background-color: rgb(250, 250, 246);
    visibility: visible;
    transition: all 0.7s;
}
.socials-btn>span::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 16px solid rgb(250, 250, 246);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 1;
    bottom: -15px;
    right: 50%;
    transform: translateX(50%);
}

.true-false {
    width: 30px;
    height: 30px;
}

ul.aboutUser {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 15px;
    background-color: #c9f7dd;
    display: inline-block;
    vertical-align: top;
  }